# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Streamlit cache
.streamlit/

# Jupyter notebooks
.ipynb_checkpoints

# Environment variables
.env

# Dataset uploads
datasets/
uploads/

# Exported reports
exports/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Python distribution
build/
dist/
*.egg-info/
